body{
    background-color: #fff;
}
/*Hi its a test */

/*New tfc enablement*/

html{
    font-size:2vw;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}